@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
  url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome/fontawesome-webfont.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/open_sans_bold/opensans-bold-webfont.eot');
  src: url('../fonts/open_sans_bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open_sans_bold/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/open_sans_bold/opensans-bold-webfont.woff') format('woff'),
  url('../fonts/open_sans_bold/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/open_sans_regular/opensans-regular-webfont.eot');
  src: url('../fonts/open_sans_regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open_sans_regular/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/open_sans_regular/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/open_sans_regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-open-bold: open_sansbold;
@font-open-regular: open_sansregular;
@color-backgray: #e1e1e1;
@color-darkgrey: #53545e;
@color-lightgrey: #f1f1f1;
@color-backgroundimg: #dedede;
@color-white: #fff;
@color-text: #bfc0c3;
@color-footer-text: #a6a7b0;

body {
  font-family: @font-open-regular;
  max-width: 1920px;
  min-width: 320px;
}

.header-container-fluid {
  background-color: @color-backgray;
}

.main-logo {
  padding: 30px 15px;
  float: left;
}

.header-container {
  background-color: @color-darkgrey;
}

.header-test {
  font-family: @font-open-bold;
  font-size: 12px;
  color: @color-lightgrey;
  float: right;
  margin-top: 45px;
}

.main-container-fluid {
  background-color: @color-lightgrey;
}

.main-img {
  background-color: @color-backgroundimg;
}

.article-img {
  width: 100%;
  min-width: 50px;
  height: auto;
  overflow: hidden;
}

.main-container {
  background-color: @color-white;
}

.main-text {
  font-family: @font-open-bold;
  font-size: 18px;
  text-transform: uppercase;
  color: @color-darkgrey;
}

section {
  margin: 30px 15px;
}

section article p {
  color: @color-text;
  font-family: @font-open-regular;
  font-size: 13px;
  padding-top: 10px;
}

.main-btn {
  font-family: @font-open-bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: @color-darkgrey;
  text-decoration: none;
  color: @color-white;
  padding: 10px 20px;
  margin-top: 15px;
  display: inline-block;
}

.main-btn:hover {
  background-color: @color-text;
  color: @color-darkgrey;
  text-decoration: none;
}

.special-line {
  padding-top: 25px;
}

.first-footer-container {
  background-color: @color-lightgrey;
  padding-bottom: 20px;
}

.icon-social {
  font-size: 18px;
  text-decoration: none;
  color: @color-darkgrey;
  background-color: @color-backgray;
  border-radius: 50%;
  display: inline-block;
  float: right;
  margin-left: 15px;
}

.padding {
  padding: 8px 14px;
}

.padding-g {
  padding: 8px 10px;
}

.padding-f {
  padding: 8px 17px;
}

.icon-social:hover {
  background-color: @color-darkgrey;
  color: @color-text;
  text-decoration: none;
}

.footer-text {
  color: @color-white;
  font-family: @font-open-regular;
  font-size: 13px;
}

div ul {
  float: right;
  padding-right: 40px;
  li {
    list-style: none;
    font-family: @font-open-regular;
    font-size: 13px;
    a {
      color: @color-white;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
      color: @color-white;
    }
    i{
      padding-right: 15px;
    }
  }
}

.last-text{
  font-family: @font-open-regular;
  font-size: 13px;
  color: @color-lightgrey;
}

.unsubscribe{
  padding-left: 10px;
  display: inline-block;
}

.view-online{
  padding-right: 10px;
  border-right: 1px solid @color-footer-text;
  display: inline-block;
}

footer div div div div section span{
  font-family: @font-open-regular;
  font-size: 12px;
  color: @color-footer-text;
  float: right;
}

.unsubscribe-a{
  color: @color-footer-text;
  text-decoration: none;
}

.unsubscribe-a:hover{
  color: @color-white;
  text-decoration: none;
}

 @media only screen and (max-width: 992px) {
   .main-text-footer{
     font-size: 16px;
   }
   div ul{
     padding-right: 0;
   }
}

@media only screen and (max-width: 768px) {
  .social{
    text-align: center;
  }
  .icon-social{
    float: none;
  }
}